{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}

{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="form--inline clearfix">
  <details open class="js-form-wrapper form-wrapper seven-details cleanimal-details">
    <summary role="button" aria-controls="filters-columns" class="seven-details__summary">
      {{ 'Filters'|trans }}
    </summary>
    <div class="exposed-form-wrapper">
      {% if form.flexible_tables_fieldset %}
        <div class="filters-wrapper columns-present">
          {{ form|without("actions", "flexible_tables_fieldset") }}
        </div>
        <div class="column-wrapper">
          {{ form.flexible_tables_fieldset }}
        </div>
      {% else %}
        <div class="filters-wrapper">
          {{ form|without("actions") }}
        </div>
      {% endif %}
      <div class="actions">
        {{ form.actions }}
      </div>
    </div>
  </details>
</div>
