{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
<div class="layout-node-form clearfix">
  <nav id="scroll-nav" class="sticky">
    {{ form.cleanimal_scroll_navigation }}
  </nav>
  <div class="layout-region layout-region-node-main">
    {{ form|without('advanced', 'footer', 'actions', 'cleanimal_scroll_navigation') }}
  </div>
  <div class="layout-region layout-region-node-secondary sticky">
    {{ form.actions }}
    {{ form.footer }}
    {{ form.advanced }}
  </div>
</div>
