{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}

{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}s
{{ q }}
{% endif %}
<div class="form--inline clearfix">
  {#{{ form|without("title_check_deactivate", "title_op", "title", "type_check_deactivate", "type_op", "type", "status_check_deactivate", "status, ") }}#}
  <details open id="filters-columns" class="js-form-wrapper form-wrapper seven-details cleanimal-details">
    <summary role="button" aria-controls="filters-columns" class="seven-details__summary">
      Filter
    </summary>
    <div class="filter-wrapper">
      <div class="filters-wrapper">
        <div class="filters">
          <div class="active-filters">
            {% for el in form_elements_edit %}
              {{ attribute(form, el) }}
            {% endfor %}
          </div>
          <div class="select-filters">
            {{ form.manual_select_filter }}
          </div>
        </div>
        <div class="columns">
          <div class="column-select">
            {{ form.column_selector }}
          </div>
          <div class="column-option">
            {{ form.flexible_tables_fieldset }}
          </div>
        </div>
      </div>
      <div class="actions">
        {{ form.actions }}
      </div>
    </div>
  </details>
</div>
